<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" w-full h-screen bg-zinc-900 flex items-center justify-center flex-col gap-5 p-10">
    <form action="/register" method="post">
        <label class="font-semibold text-xl text-blue-700" for="username">Username</label>
        <input class="w-full p-3 outline-none bg-transparent border-2 border-zinc-600" placeholder="Username" type="text" id="username" name="username">
        <label for="email">Email</label>
        <input placeholder="Email" type="email" name="email" id="email">
        <label for="number">Number</label>
        <input placeholder="Phone Number" type="number" name="number" id="number">
        <label for="password">Password</label>
        <input placeholder="Password" type="password" name="password" id="password">
        <input type="submit" value="Register">
    </form>
</body>
</html>